/TracePoint.Api/bin/Debug
/TracePoint.Api/obj/Debug
/TracePoint.Client/bin/Debug
/TracePoint.Client/obj/Debug
/TracePoint.Simulator/bin/Debug
/TracePoint.Simulator/obj/Debug
/TracePoint.Shared/bin/Debug
/TracePoint.Shared/obj/Debug